/* Navbar start */
.navbar {
    display: flex;
    align-items: center;
    height: 70px;
    gap: 20px;
}

.navbar__catagory_btn {
    background-color: #F0F0FF;
    border: none;
    color: var(--bg-py);
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 20px;
    border-radius: 4px; 
}

.navbar__catagory_btns {

    border-radius: 4px;
}

.navbar__search {
    height: 40px;
    flex: 1;
    display: flex;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;

}

.navbar__search input {
    flex: 1;
    text-indent: 12px;
    border: none;
    outline: none;
    border-radius: 4px 0 0 4px;
    color: #474747;


}

.navbar__search button {
    width: 60px;
    background: var(--bg-sy);
    border: none;
    border-radius: 0 4px 4px 0;


}

.navbar__collaction {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    justify-content: center;
}

.navbar__collaction li {
    display: flex;
    align-items: center;
}

.navbar__loga {
    width: 216px;
    font-size: 13px;
}

#none {
    display: none;
}

.navbar__bottom__bar {
    font-size: 16px;
}

.navbar__item svg {
    width: 22px;
}

.Navlink {
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Navlink svg{
    font-size: 18px;
}
.link svg{
    font-size: 22px;
}
.navbar__item a.active  {
    color: var(--bg-py);
}
 
 

@media screen and (max-width: 1000px) {
    .navbar__collaction {
        /* display: block; */
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: #ffffff;
        width: 100%;
        height: 44px;
        border-radius: 10px 10px 0 0;
        justify-content: space-around;
        box-shadow: 0 -4px 7px #ddd;

    }

    .navbar {
        flex-wrap: wrap;
        height: auto;
        gap: 8px;
        padding: 8px;
        justify-content: space-between;
    }

    .navbar__search {
        flex: auto;
        width: 100%;
    }

    .subheader {
        display: none;
    }

    .navbar__item {
        display: flex;
        flex-direction: column;

    }

    #none {
        display: block;
    }
.navbar__collactions{
    display: none;
}
}

@media screen and (max-width: 400px) {
    .navbar__loga {
        width: 170px;
        height: 30px;
    }

    #none {
        display: block;
    }

    .navbar__bottom__bar {
        font-size: 13px;
    }

    .navbar__item svg {
        width: 20px;
    }
}

@media screen and (max-width: 350px) {
    .navbar__loga {
        width: 150px;
        height: 27px;
    }

    .navbar__bottom__bar {
        font-size: 10px;
    }

    .mushroom {
        display: none;
    }
}

/* Navbar end */